{% extends "admin/base_site.html" %}

{% block title %} Change author {% endblock %}

{% block content %}

<div id="content-main">
  <h1>Change author</h1>

    <form name="name">
      <p>Name:
       <input name="author_name" value="{{author.name}}" type="text" size="40">
      </p>
      <p>Credit:
       <input name="author_credit" value="{{author.credit}}" type="number" size="40">
      </p>

    <p>
        Books: 
        {% for book in author.book.all %}
           <input name="book_title" value="{{book.title}}" type="text" size="40">        
        {% endfor %}
    </p>
        {% if author.tag.all %}
            <p>
                Tags:
                {% for tag in author.tag.all %}
                   <input name="author_tag" value="{{tag.name}}" type="text" size="40">        
                {% endfor %}
            </p>
        {% endif %}
            <p>Available tags:
                <select name="tag"  width="185" style="width: 185px">
                <option value="">--None--</option>
                {% for tag in tags %}
                    <option value="{{tag.name}}">{{tag.name}}</option>
                {% endfor %}
                </select>
            </p>
        <input type="submit" value="Save" >
    </form>


</div>


{% endblock %}
